<h1>Information</h1>

<div class="container">

  <p>Creating Vibrant Communities looks to strike a unique and balanced approach to
the creation of new communities across Australia. This app sets out a simple
methodology to help guide this process, and help you think a little more holistically, in order to improve the quality of life for future residents. </p>

  <%= image_tag "wheel.png", alt: "CVC Wheel", class: 'logo' %>

</div>

